* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: rgb(33, 32, 32);
}

h1 {
    text-align: center;
    margin: 2rem;
    margin-bottom: 0;
    color: white;
    font-weight: 100;
}

nav {
    display: flex;
    flex-direction: column;
    text-align: center;
}

nav a {
    padding: 2rem;
    border-radius: 13px;
    margin: 2rem;
    transition: 200ms;
    color: white;
    text-transform: uppercase;
    font-size: 1rem;
    font-weight: 100;
    background: hsla(250, 100%, 50%, 1);
    background: linear-gradient(225deg, hsla(250, 100%, 50%, 1) 0%, hsla(277, 100%, 16%, 1) 100%);
    background: -moz-linear-gradient(225deg, hsla(250, 100%, 50%, 1) 0%, hsla(277, 100%, 16%, 1) 100%);
    background: -webkit-linear-gradient(225deg, hsla(250, 100%, 50%, 1) 0%, hsla(277, 100%, 16%, 1) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#2A00FF", endColorstr="#330053", GradientType=1 );
}